@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    font-family: 'Raleway', sans-serif;}
body{
    font-family: Georgia,serif;
}
h1 {
    color: forestgreen;
    font-family: Arial,sans-serif;
}
i{
    color:darkorchid;
}
.Source {
    border: 1px solid #665544;
    background-color: #efefef;
    color: blue;
    padding: 30px;
    font-size: 150%;
    font-family: "Courier New" ,monospace;
}
.element{
    color:darkred;
}