@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    font-family: 'Raleway', sans-serif;}
h1 {
    color: forestgreen;
}
i{
    color:green;
}
i{
    color:red;
}
b {
    color:pink;
}
p b { color: blue !important;
}
p b {
    color:violet;
}
p#intro {
    font-size: 100%
}
p{
    font-size: 100%;
}
.Source {
    border: 1px solid #665544;
    background-color: #efefef;
    color: blue;
    padding: 10px;
    font-size: 150%;
    font-family: "Courier New" ,monospace;
}
.Source h1{
    padding:inherit;
}
